<%- include('admin-header') %>
    <section class="mx-auto w-full max-w-7xl px-4 py-4 mt-10">
        <div class="flex flex-col space-y-4 md:flex-row md:items-center md:justify-between md:space-y-0">
            <div>
                <h2 class="text-lg font-semibold">Users</h2>
                <p class="mt-1 text-sm text-gray-700">
                    This is a list of all users. You can add new users, edit or
                    delete existing ones.
                </p>
            </div>

            <div class="flex grow justify-end mr-3">
                <input id="searchInput" 
                    class=" flex h-8 w-[250px] rounded-md bg-gray-100 px-3 py-3 text-sm placeholder:text-gray-600 focus:outline-none focus:ring-1 focus:ring-black/30 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                    type="text" placeholder="Search User" />
            </div>
            <!-- <div class="hidden space-x-2 lg:block mr-10">
                <button id="searchBtn"
                    class="ml-2 rounded-md border border-blue-500 px-3 py-2 text-sm font-semibold text-black shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                    Search
                </button>
            </div> -->
            <div>

                <a href="/admin/addUser"
                    class="rounded-md bg-purple-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-purple-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                    Add new user
                </a>
            </div>
        </div>
        <div class="mt-6 flex flex-col">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden border border-gray-200 md:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-10 py-3.5 text-left  text-gray-700">
                                        <span>Username</span>
                                    </th>
                                    <th scope="col" class="px-10 py-3.5 text-left text-gray-700">
                                        Email address
                                    </th>
                                    <th scope="col" class="px-10 py-3.5 text-left text-gray-700">
                                        Edit
                                    </th>
                                    <th scope="col" class="px-14 py-3.5 text-left text-gray-700">
                                        Status
                                    </th>
                                    <th scope="col" class="px-12 py-3.5 text-left  text-gray-700">
                                        Block / Unblock
                                    </th>
                                    <!-- <th scope="col" class="relative px-4 py-3.5 text-left">
                                    Edit
                                </th> -->
                                </tr>
                            </thead>
                            <tbody id="usersTable" class="divide-y divide-gray-200 bg-white">



                                <% users.forEach(user=> { %>
                                    <tr data-userId="<%= user._id %>">
                                        <td class="whitespace-nowrap px-10 py-4 ">
                                            <div class="flex items-center">
                                                <!-- <div class="h-10 w-10 flex-shrink-0">
                                                <img class="h-10 w-10 rounded-full object-cover"
                                                    src="https://images.unsplash.com/photo-1628157588553-5eeea00af15c?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1160&amp;q=80"
                                                    alt="" />
                                            </div> -->
                                                <div class="ml-2">
                                                    <div class="text-sm font-medium  text-gray-900">
                                                        <%= user.username %>
                                                    </div>
                                                    <!-- <div class="text-sm text-gray-700">john@devui.com</div> -->
                                                </div>
                                            </div>
                                        </td>
                                        <td class="whitespace-nowrap px-10 py-4">
                                            <div class="text-sm text-gray-900 ">
                                                <%= user.email %>
                                            </div>
                                            <!-- <div class="text-sm text-gray-700">Engineering</div> -->
                                        </td>
                                        <td class="whitespace-nowrap px-10 py-4">
                                            <a href="/admin/editUser/<%= user._id %>"
                                                class="rounded-md bg-blue-600 px-3 py-1 text-sm font-semibold text-white shadow-sm hover:bg-blue-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                                                Edit
                                            </a>
                                        </td>
                                        <td class="whitespace-nowrap px-14 py-4 ">
                                            <div class="text-sm font-medium  text-gray-900" id="status-column">
                                                <% if (user.isBlocked) { %>
                                                    <span class="text-red-700">Blocked</span>
                                                    <% } else { %>
                                                        <span class="text-green-600">Unblocked</span>
                                                        <% } %>
                                            </div>
                                        </td>
                                        
                                        <td class="whitespace-nowrap px-12 py-4 text-sm text-gray-700" id="btn">
                                            <div class="flex items-center">
                                                <% if (user.isBlocked) { %>
                                                    <button 
                                                        class="w-20 bg-green-600 rounded-md px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black blockButton"
                                                        data-userid="<%= user._id %>" data-action="/admin/unblockUser">
                                                        Unblock
                                                    </button>
                                                    <% } else { %>
                                                        <button
                                                            class="w-20 bg-red-700 rounded-md px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-red-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black blockButton"
                                                            data-userid="<%= user._id %>"
                                                            data-action="/admin/blockUser">
                                                            Block
                                                        </button>
                                                        <% } %>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/dashboard.js"></script>
    <%- include('user-footer') %>